<!DOCTYPE html>
<html>
    <head>
        <title>Rolimons API But Good</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/segoe-ui-4" rel="stylesheet">
        <link rel="stylesheet" href="https://lib.reklaw.dev/styles/minimalistic.css">
        <link rel="stylesheet" href="/static/style.css">
        <script>
            const last_updated = "{{last_updated}}"
        </script>
        <script src="https://lib.reklaw.dev/lib.js"></script>
        <script src="/static/script.js"></script>
    </head>
    <body class="centered-children">
        <div class="modal-background centered-children" id="modal" style="display: none">
            <div class="modal border">
                <a id="modalRoute" target="_blank"></a>
                <p id="modalDescription"></p>
                <div>
                    <h3>Example Request</h3>
                    <div class="gap"></div>
                    <div id="exampleRequest" class="request-container border"></div>
                </div>
                <div>
                    <h3>Example Response</h3>
                    <div class="gap"></div>
                    <div>
                        <div class="label boolean">Responses may have been omitted</div>
                        <div id="exampleResponse" class="request-container border"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container border">
            <div id="indicator" class="border">...</div>
            <h1>Rolimons API</h1>
            <h3>(but actually good)</h3>
        </div>
        <div class="info border">
            <div class="header">
                <h3>Features</h3>
            </div>
            <div style="padding: 0.5rem;">
                <ul>
                    <li>No rate limits</li>
                    <li>Automatically cached data</li>
                    <li>More data endpoints</li>
                    <li>Better data format</li>
                </ul>
            </div>
        </div>
        <div class="info border">
            <div class="header">
                <h3>Endpoints</h3>
            </div>
            <div style="padding: 0.5rem;">
                <ul>
                    <li class="api-route" onclick="showDoc(0)">/api/item?id=&lt;assetId&gt;</li>
                    <li class="api-route" onclick="showDoc(1)">/api/items</a></li>
                    <li class="api-route" onclick="showDoc(2)">/api/history?id=&lt;assetId&gt;</li>
                    <li class="api-route" onclick="showDoc(3)">/api/bulk_history</li>
                </ul>
            </div>
        </div>
    </body>
</html>